* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
font-family: "Libre Baskerville",sans-serif serif;
    font-weight: 400;
    font-style: normal;
}
:root{
    --default:#F9C265;
 

}
body{
   width: 100%;
}
html,
body {
  
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
/* background-color: black; */
/* color: white; */
}

div#the-box{
    display: none;
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
   height: 100%;
   width: 100%;
   background-color: rgba(200, 200, 200,0.5);
   z-index: 998;
}

/* Nav */

nav {
    display: flex;
    justify-content: space-around;
    background-color: var(--default);
    align-items: center;
}

nav div#right {
    display: flex;
    gap: 30px;
}
#ham-icon{
    display: none;
    padding: 10px;
                transition: background-color 0.3s;
}
#ham-menu{
    display: none;
}

nav div#right button {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
nav div#right #dark-mode {
        background-color: transparent;

            padding: 17px;

        
      
            transition: background-color 0.3s;
}
nav div#right #dark-mode:hover {

       width: 22;
       background-color: white;

}

nav div#right ul#slider{
    position: fixed;
visibility: hidden;
padding: 20px;
background-color: white;
list-style: none;
top: 50px;
border-radius: 25px;
        box-shadow: 0 18px 18px rgba(0, 0, 0, 0.5);
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
nav div#right ul#slider :hover{
    visibility: visible;
}

nav div#right ul#slider li:first-child{
border-bottom: 1px solid gray;
}

nav div#right ul#slider li:nth-child(2){
    margin-top: 15px;
}

nav div#right a {
    padding-top: 20px;
}

nav div#left {
    display: flex;
    gap: 30px;
    padding-top: 10px;
}

nav a {
    font-family: sans-serif;
    text-decoration: none;
    color: black;
}

/* Header */
header {
    padding: 200px 50px 0 50px;
    background-color: var(--default);;
}
header #right_slide{
    visibility: hidden;
    position: fixed;
        right: 0;
     top: 0;
        z-index: 1400;
        min-width:20%;
       
        height: 100%;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: center;
    font-size: 30px;
     font-family: sans-serif;
        border: none;
        box-shadow: 0 18px 18px rgba(0, 0, 0, 0.5);
    transition: right 1s ease;
         background-color: white;
     
       
}  


header #right_slide ul {
list-style: none;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
gap: 40px;
p:first-child{
margin-left: 30px;
}
}
header #right_slide #low{
    margin-bottom: 100px;
}
header #right_slide .cus_cont:hover{
border-radius: 20px;

    outline: 5px solid grey;
    border: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.50);
}

header #high{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px;
    padding-bottom: 0;;
}
header #xbtn{
    margin-top: 150px;
    align-self:flex-start;
    border: 0;
    margin-left: 40px;
    padding: 10px;
    background-color: red;
width: 40px;
border-radius: 0;
}
header #xbtn :hover{
   
      
     
}

header #right_slide #low .cus_cont{
    display: flex;
    align-items: center;
justify-content: center;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    margin-left: 15px;
    margin-bottom: 10px;
    p{
        margin-left: 30px;
    }

}
header #right_slide .cus_cont #blue{
   width: 50px;
   height: 50px;
    background-color: blue;
    border-radius: 50%;
    
}
header #right_slide .cus_cont #default{
   width: 50px;
   height: 50px;
    background-color:#F9C265;
    border-radius: 50%;
}
header #right_slide .cus_cont #green{
   width: 50px;
   height: 50px;
    background-color: green;
    border-radius: 50%;
}
header #right_slide .cus_cont #red{
   width: 50px;
   height: 50px;
    background-color: red;
    border-radius: 50%;
}

header #settings{
position: fixed;
    position: fixed;
        transform: rotate(270deg);
        right: 1px;
        padding: 12px 18px;
        background-color: grey;
        color: white;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        font-size: 16px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
        transition: background-color 0.3s, color 0.3s, transform 0.2s;
        z-index: 997;
}
header img {
    padding-top: 40px;
    padding-bottom: 0px;
    display: block;
    margin: 0 auto;
  object-fit: contain;

}

header div {
    display: flex;
    gap: 70px;
    justify-content: space-around;
}

header div#right {
    display: block;
}

header p {
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 20px;
}

header h1 {
font-size: clamp(1.8rem, 5vw, 6rem);    font-family: sans-serif;
    grid-row: span 2;
}

header a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    justify-self: center;
    transform: translate(-10px, -80px);
}

header span {
    background-color: black;
    padding: 5px;
    border-radius: 20px;
    color: var(--default);;
}

/* Main - Reviews */
main #reviews {
    display: flex;
    padding: min(70px, 50%);
    justify-content: space-around;
    flex-wrap: wrap;
}

main #reviews h3 {
    font-size: clamp(2rem, 2.5rem, 5rem);
    font-family: sans-serif;
    font-weight: bold;
}

main .review {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* Main - Provide */
main div#provide {
    background-color: #FDF6E4;
    padding: min(100px,8%);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    font-family: sans-serif;
}

main div#provide img {
    grid-row: span 2;
}

main div#provide h2 {
    font-size: 50px;
    padding: 10px;
    padding-bottom: 15px;
}

main div#provide span {
    background-color: var(--default);;
    border: 1px solid black;
    border-radius: 30px;
    padding: 5px;
}

main div#provide p {
    font-size: 30px;
   
    color: rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    white-space: nowrap;
        overflow:inherit;
}

/* Main - Features */
main #features {
display: flex;
flex-wrap:wrap;
justify-content: center;
align-content: center;
gap: 5rem;
padding: min(10rem,8%);
}

main #features #our {
    background-color: black;
    color: white;
    padding: min(50px,8%);
    border-radius: 15px;
    border:2px solid var(--default);;
    min-width: 60%;
flex-shrink: 0;
flex-grow: 1;
}

main #features #our h2 {
    font-size: 50px;
    font-family: sans-serif;
    padding-bottom: 30px;
}

main #features #our button {
    background-color: var(--default);;
    padding: 10px;
    border-radius: 25px;
}

main #features .container {

    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 15px;
padding: min(50px, 8%);
    font-family: sans-serif;
    background-color: white;
}

main #features .container h3 {
    font-size: 30px;
}

main #features .container p {
    padding-top: 10px;
    color: rgba(0, 0, 0, 0.5);
font-size: clamp(0.8rem, 1.5vw, 1rem);    white-space: nowrap;
        /* prevents wrapping */
        overflow: hidden;
}

main #features span {
    color: var(--default);;
}

/* Main - Popular */
main #popular {
    background-color: black;
    color: white;
    text-align: center;
    padding: 100px 200px;
   
}

main #popular span {
    padding: 10px;
    background-color: black;
    color: var(--default);;
    border-radius: 25px;
    border: 1px solid var(--default);;
}

main #popular h2 {
    padding-bottom: 150px;
    font-size: 40px;
    font-family: sans-serif;
    white-space: nowrap;
}

main #popular #inside_popular {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

main #popular .pack {
    display: block;
    color: black;
    background-color: white;
    flex-basis: 30%;
    padding: 30px;
    border-radius: 25px;
    height: 100%;
}

main #popular .pack .body {
    padding-top: 10px;
    padding-bottom: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    gap: 20px;
}

main #popular .pack .body .english {
    font-size: 20px;
    font-weight: bold;
    
}

main #popular .pack .body button {
    background-color: white;
    border-radius: 25px;
    border: 1px solid black;
    padding: 20px;
    width: 50%;
}

/* Main - Easy */
main #easy {
    font-family: sans-serif;
    padding: 200px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
    padding-bottom: 400px;
}
main #easy #left{
padding-right: 40px;
flex-basis: 0px;
flex-grow: 1;
flex-shrink: 2;
}
main #easy #right {
flex-basis: 100%;
}
main #easy #right img{
width: 50%;

}
main #easy span {
    background-color: var(--default);;
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
}

main #easy h2 {
    font-size: 50px;
    padding-bottom: 30px;
}

main #easy p {
    padding-bottom: 30px;
    white-space: nowrap;
        /* prevents wrapping */
        overflow: hidden;
        /* hides extra text */
      
}

main #easy ul {
    font-size: 30px;
    list-style: georgian;
}

/* Footer */
footer {
    height: 90%;
    position: relative;
    background-color: #FDF6E4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}

footer span {
    background-color: var(--default);;
    border: 1px solid black;
    color: black;
    border-radius: 25px;
    padding: 10px;
}

footer h2 {
    font-size: 50px;
    
}

footer #play {
    padding-top: 0px;
    padding-bottom: 250px;
}

footer #upper {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 1100px;
    height: 350px;
    MAX-width: 80%;
    top: -170px;
    padding: 50px;
    background-color: var(--default);;
    gap: 20px;
    border-radius: 30px;
}

footer #upper img {
    width: 50%;
    display: block;
    padding-bottom: 0;
}

footer #upper #upper_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

footer #upper h3 {
    font-size: 40px;
}

footer #upper p {
    font-size: 20px;
}

footer #upper button {
    background-color: black;
    color: var(--default);;
    border-radius: 25px;
    padding: 10px;
}

footer #last {
    position: absolute;
    background-color: black;
    padding: 100px;
width: 1100px;
    height: 350px;
MAX-width: 80%;    border-radius: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

footer #last div#top {
    display: flex;
    justify-content: space-between;
}

footer #last div#top #left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 70px;
}

footer #last div#top #right {
    display: flex;
    gap: 100px;
}

footer #last #bottom {
    padding-top: 60px;
    display: flex;
    gap: 100px;
    justify-content: space-around;
    align-items: end;
}




/* Media Queries */

@media (max-width: 1536px) {
    header img {
        width: 70%;
    }

main div#provide {
    display: flex;
    flex-direction: column;
}
main div#provide img {
    grid-row: span 1;
    width: 60%;
}
}
@media (max-width: 1280px) {

 a#settings{
    padding: 10px;
    right: -15px;
}

header img {
        width: 50%;
    }
    main #popular #inside_popular {
        flex-direction: column;
    gap: 4rem;
    }



        main #easy{
            flex-direction: column;
          
        }
                           main #easy #right img {
                              order: -1;
                              align-self: flex-start;
            
                           }
 }
@media (max-width: 1024px) {

        .slider-wrapper {
                overflow: hidden;
                width: 100%;
            }
        
            main #reviews {
                flex-wrap: nowrap;
                justify-content: flex-start;
                transition: transform 0.5s ease-in-out;
            }
        
            main .review {
                min-width: 100%;
                flex: none;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                /* centers horizontally */
                text-align: center;
                /* centers text */
            }
    header img {
            width: 60%;
        }
main #reviews {
        padding-left: 20px;
        padding-right: 20px;
    }
    main #reviews h3 {
   font-size: 2rem;
}
footer #upper{
    gap: 30px;
}
footer #upper,footer #last{
    
    min-width: 200px;
}
footer #upper #upper_left {
    gap: 10px;
}

}
@media (max-width: 768px) {

#ham-icon{
    display: block;
}
#ham-icon:hover{
    background-color: white;
    padding: 10px;
}

#ham-menu{
    z-index: 999;
    display: none;
    background-color: white;
    width: 40%;
    height: 80vh;
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 50px;
padding: 50px;
flex-direction: column;
gap: 30px;
justify-content:start ;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
border-radius: 15px;
}

#ham-menu.show {
    display: flex;
}
#ham-menu a{
    border-bottom:1px solid black;
    padding-bottom: 10px;
    font-size: 1.5rem;
}
nav #left a,nav #right #log-in{
    display: none;
}
    header a{
        padding: 8px;
    }
main #popular{
    padding-left: 150px;
}

    a#settings {
            padding: 5px;
            right: -20px;
            
        }
    header {
        padding-top: 100px;
    }

    main #easy {
            padding: 100px;
            padding-bottom: 200px;
        }
    main #reviews{
        padding-left: 20px;
        padding-right: 20px;
    }
main #reviews h3 {
        font-size: 1.5rem;
    }
        main #reviews p {
            font-size: 1rem;
        }

        footer #last #bottom {
  padding: 50px;
            padding-top: 30px;
    display: flex;
    gap: 50px;
   
}

footer{
    height: 70%;
}
                  footer #upper h3 {
                      font-size: 2rem;
                  }


                                  footer h2 {
                                      font-size: 30px;
                
                                  }
}
@media (max-width: 480px) {

#ham-menu {
        width: 50%;
    }

    header a {
            padding: 6px;
        }
main #popular {
        padding-left: 150px;
    }
main #easy {
    padding: 100px;
    padding-bottom: 200px;
}
main #reviews {
        padding-left: 10px;
        padding-right: 10px;
    }

        main #reviews h3{
            font-size: 1rem;
        }
                main #reviews p{

                    font-size: 0.9rem;
                }
        footer #upper h3{
            font-size: 1.5rem;
        }
}

